script(type="text/ng-template", id="/partials/search_headers/feat")
  .span6
    .search-result-header Name
  .span3
    .search-result-header Tier
script(type="text/ng-template", id="/partials/search_headers/deity")
  .span6
    .search-result-header Name
  .span3
    .search-result-header Alignment
script(type="text/ng-template", id="/partials/search_headers/class")
  .span5
    .search-result-header Name
  .span2
    .search-result-header Role
  .span2
    .search-result-header Power Source
script(type="text/ng-template", id="/partials/search_headers/monster")
  .span6
    .search-result-header Name
  .span3
    .search-result-header Level
script(type="text/ng-template", id="/partials/search_headers/power")
  .span3
    .search-result-header Name
  .span2
    .search-result-header Class
  .span2
    .search-result-header Action
  .span2
    .search-result-header Usage
script(type="text/ng-template", id="/partials/search_headers/item")
  .span5
    .search-result-header Name
  .span2
    .search-result-header Cost
  .span2
    .search-result-header Level
script(type="text/ng-template", id="/partials/search_headers/glossary")
  .span5
    .search-result-header Name
  .span2
    .search-result-header Category
  .span2
    .search-result-header Type
script(type="text/ng-template", id="/partials/search_headers/race")
  .span9
    .search-result-header Name
script(type="text/ng-template", id="/partials/search_headers/ritual")
  .span5
    .search-result-header Name
  .span2
    .search-result-header Level
  .span2
    .search-result-header Key Skill
